.fs_14{
    font-size: 14px;
}
.fs_15{
    font-size: 15px;
}
.fs_16{
    font-size: 16px;
}
.fs_17{
    font-size: 17px;
}
.fs_20{
    font-size: 20px;
}
.fs_22{
    font-size: 22px;
}
.fs_24{
    font-size: 24px;
}
.fs_30{
    font-size: 30px;
}
.fs_36{
    font-size: 36px;
}
.fs_35{
    font-size: 35px;
}
.fs_48{
    font-size: 48px;
}
/* font_weight */
.font_100{
    font-weight: 100;
 }
.font_400{
    font-weight: 400;
 }
.font_500{
    font-weight: 500;
}
.font_600{
    font-weight: 600;
}
.font_700{
    font-weight: 700;
}
.font_800{
    font-weight: 800;
}