@import url("./fontsize.css");
@import url("./color.css");
body {
  font-family: "Montserrat", sans-serif !important;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1200px;
  margin: auto;
}
/* background_image_header */
.background_image_header {
  background-image: url("../images/homeImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  height: 730px;
}
/* logo_text_div */
.background_image_header .logo_text_div {
  display: flex;
  justify-content: space-between;
}
/* logo_div */
.background_image_header .logo_text_div .logo_div img {
  height: 85px;
}
/* text_div */
.background_image_header .logo_text_div .text_div p {
  margin: 0px;
  padding: 12px 20px;
  opacity: 0.8;
}

/* hamburger_for_responsive */
.background_image_header .logo_text_div .hamburger_for_responsive {
  display: none;
}
.background_image_header .logo_text_div .hamburger_for_responsive .ham_burger {
  padding: 2px 13px;
  margin: 6px;
  border-radius: 50px;
}

/* <!-- header_section_2 --> */
/* All_content_heading_p_button */
.both_div_main_section_2 {
  height: 87%;
  display: flex;
  align-items: center;
}
.common_width {
  width: 57%;
}
/* margin_padding_h1 */
.margin_padding_h1 {
  margin: 0px;
}
/* .margin_padding_p */
.margin_padding_p {
  margin: 0px;
  padding: 20px 0px;
  opacity: 0.5;
}
/* button */
.container .All_content_heading_p_button button {
  align-items: center;
  padding: 12px 16px;
  border-radius: 50px;
  border: 1px solid #047857;
}
/* section_2_chat_bot_main_div */
.chat_bot_main_div {
  display: flex;
  justify-content: end;
  margin-top: 255px;
}
/* .chat_bot_padding */
.chat_bot_div {
  padding: 20px 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

/* section_header_ends */

/* middle_div_main_backgroundimage */
.middle_div_main_backgroundimage {
  background-image: url("../images/background_image_2.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
  padding: 48px 24px;
}
/* middle_div_All_content_div */
.middle_div_All_content_div {
  display: flex;
  justify-content: end;
  align-items: center;
  height: inherit;
}
/* All_text_div */
.All_text_div {
  width: 55%;
}
.All_text_div .h1_welcome {
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.9;
}
.All_text_div h1 {
  margin: 0px;
  opacity: 0.9;
}
.All_text_div p {
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.5;
  line-height: 25px;
}
/* button_div */
.button_div {
  padding: 16px 0px;
}
.button_div button {
  padding: 16px 24px;
  background-color: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 50px;
}
/* middle_div_main_ends */

/* section_3_carousels_main_div */
.section_3_main {
  padding: 48px 0px;
}
/* main_carousels_div */
.main_carousels_div {
  max-width: 625px;
  position: relative;
  margin: auto;
}
/* box_container_main */
.box_container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* image_div_1st_box */
.box_container_main .image_div_1st_box {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
}
/* just_image_1st_box */
.box_container_main .image_div_1st_box img {
  width: 100px;
  position: absolute;
}
/* box_shadow_radius_div */
.box_container_main .box_shadow_radius_div {
  padding: 40px 20px;
  border-radius: 16px;
  margin: 40px 0px;
  --shadow-property: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--shadow-property);
}
/* card_data */
.box_container_main .card_data h1 {
  padding: 12px 32px;
  text-align: center;
  margin: 0px;
}
/* .quotetaion_div */
.box_container_main .card_data .quotetaion_div {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
}
/* quotetaion_spacing */
.box_container_main .card_data .quotetaion_div .quotetaion_spacing {
  padding: 0px 12px;
}
/* text_p */
.box_container_main .text_p {
  padding: 12px 25px;
  text-align: center;
  opacity: 0.9;
  line-height: 25px;
  margin: 0px;
}
/* carousels_div_css */
* {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  margin: 0;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
/* padding_dots */
.padding_dots {
  padding-top: 30px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* section_3_ends */

/* section_4_main_div */
.section_4_main_div {
  padding: 48px 0px;
}
/* both_div_main */
.section_4_main_div .both_div_main {
  padding: 48px 0px;
}
/* heading_div */
.heading_div {
  text-align: center;
}
/* h1_works */
.heading_div .h1_works {
  margin: 0px;
  padding: 12px 0px;
}
/* h1_lorem */
.heading_div .h1_lorem {
  margin: 0px;
  padding: 12px 0px;
  font-size: inherit;
}
/* cards_main_div */
.section_4_main_div .cards_main_div {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
/* card_1 */
.section_4_main_div .cards_main_div .card_1_2_3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0px;
  --shadow-property: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--shadow-property);
  width: 340px;
  border-radius: 20px;
}
/* image_div */
.cards_main_div .card_1_2_3 .image_div {
  padding: 8px 0px;
}
/* text_div_h1_just */
.cards_main_div .card_1_2_3 .text_h1 h1 {
  margin: 0px;
  padding: 12px 0px;
}
/* section_4_ends */

/* section_5_main_div */
.section_5_main_div {
  padding: 48px 0px;
}
.section_5_main_div .main_content_div {
  padding: 48px 8px;
}
/* .h1_div */
.section_5_main_div .main_content_div .h1_div {
  margin: 0px;
  text-align: center;
  padding: 12px 0px;
}
/* .para_div */
.section_5_main_div .main_content_div .para_div {
  margin: 0px;
  text-align: center;
  padding: 20px 0px;
  line-height: 23px;
  opacity: 0.9;
}
/* middle_heading_div */
.section_5_main_div .main_content_div .middle_heading_div {
  padding-top: 40px !important;
  padding: 0px 20px;
}
/* .middle_h1 */
.section_5_main_div .main_content_div .middle_heading_div .middle_h1 {
  margin: 0px;
  text-align: center;
  padding: 12px;
  opacity: 0.9;
}
/* left_right_text_image_div  */
.section_5_main_div .main_content_div .left_right_text_image_div {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
}
/* .left_text_image */
.section_5_main_div
  .main_content_div
  .left_right_text_image_div
  .left_text_image {
  padding: 8px 40px;
}
/* flex_text_img */
.section_5_main_div
  .main_content_div
  .left_right_text_image_div
  .left_text_image
  .flex_text_img_1_2_3 {
  display: flex;
  align-items: center;
}
/* para */
.section_5_main_div
  .main_content_div
  .left_right_text_image_div
  .left_text_image
  .flex_text_img_1_2_3
  .para
  p {
  padding: 20px;
  opacity: 0.5;
  margin: 0px;
}
/* right_text_image */
.section_5_main_div .main_content_div .right_text_image_div .right_text_image {
  padding: 8px 40px;
}
/* flex_text_img */
.section_5_main_div
  .main_content_div
  .right_text_image_div
  .flex_text_img_1_2_3 {
  display: flex;
  align-items: center;
}
/* para */
.section_5_main_div
  .main_content_div
  .right_text_image_div
  .flex_text_img_1_2_3
  .para
  p {
  padding: 20px;
  opacity: 0.5;
  margin: 0px;
}
/* section_5_end */

/* section_6_main_div */
.section_6_main_div {
  border: 1px solid black;
  padding: 40px 0px;
}
/* heading_button_div */
.section_6_main_div .heading_button_div {
  display: flex;
  justify-content: space-between;
}
/* heading */
.section_6_main_div .heading_button_div .heading h1 {
  margin: 0px;
  padding: 12px 20px;
  width: 80%;
}
/* button_div */
.section_6_main_div .heading_button_div .button_div {
  padding: 32px 0px;
  width: 20%;
}
.section_6_main_div .heading_button_div .button_div button {
  background-color: #fc6411;
  border: 1px solid #fc6411;
  padding: 12px 16px;
}
/* section_6_end */

/* section_7_main_div */
.section_7_main_div {
  background-image: url("../images/applyImag.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
  padding: 48px 0px;
}
/* .main_div_heading_para_button */
.section_7_main_div .main_div_heading_para_button {
  padding: 80px 8px;
  text-align: center;
}
/* heading_1 */
.section_7_main_div .main_div_heading_para_button h1 {
  margin: 0px;
  padding: 12px;
}
/* para_p */
.section_7_main_div .main_div_heading_para_button p {
  margin: 0px;
  opacity: 0.7;
  padding: 20px 0px;
}
/* button_div */
.section_7_main_div .button_div {
  padding: 20px 0px;
}
/* button */
.section_7_main_div .button_div button {
  background-color: #fc6411;
  border: 1px solid #fc6411;
}
/* section_7_end */

/* section_8_main_div */
.section_8_main_div {
  padding: 48px 20px;
}

/* single_div */
.section_8_main_div .main_content_div .single_div {
  padding: 36px 0px;
  text-align: center;
}
/* h1 */
.section_8_main_div .main_content_div .single_div h1 {
  margin: 0px;
  padding: 12px 0px;
}
/* button_1_div */
.section_8_main_div .main_content_div .button_1_2_3_4_5_div {
  padding: 12px 20px;
}
.section_8_main_div .main_content_div .button_1_2_3_4_5_div button {
  width: 100%;
  text-align: left;
  padding: 18px;
  border: none;
}
/* section_8_end */

/* .section_9_main_div */
.section_9_main_div {
  padding: 48px 40px;
}
/* .both_flex_div */
.section_9_main_div .both_flex_div {
  display: flex;
}
/* .logo_div */
.section_9_main_div .both_flex_div .logo_div {
  background-image: url("../images/logo-light1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 15%;
}
/* main_ul_div */
.section_9_main_div .both_flex_div .main_ul_div {
  display: flex;
}
/* links_ul */
.section_9_main_div .both_flex_div .main_ul_div .main_ul {
  padding: 0px 40px;
  list-style: none;
  padding-bottom: 20px;
  margin: 0px;
}
/* ul_head */
.section_9_main_div .both_flex_div.main_ul_div .main_ul .ul_head {
  margin: 0px;
  padding: 4px 0px;
  cursor: pointer;
}
/* just_li */
.section_9_main_div .both_flex_div .main_ul_div .main_ul li {
  margin: 0px;
  padding: 4px 0px;
  cursor: pointer;
}
/* section_9_end */

/* funding_page_start */
/* section_1_header */
.section_1_header {
  background-image: url("../images/funding.png");
  background-size: cover;
  height: 290px;
  background-repeat: no-repeat;
  padding: 20px 8px;
}
/*logo_uls */
.section_1_header .logo_uls {
  display: flex;
  justify-content: space-between;
 
  
}
/* logo_div */
.section_1_header .logo_uls .logo_div img {
  height: 100px;
}
/* hamburger_for_responsive */
.section_1_header  .logo_uls  .hamburger_for_responsive {
  display: none;
}
/* hamburger_for_responsive */
.section_1_header  .logo_uls  .hamburger_for_responsive .ham_burger {
  padding: 2px 13px;
  margin: 6px;
  border-radius: 50px;
}
/* apply_button_main */
.section_1_header .logo_uls .apply_button {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* apply_button_text */
.section_1_header .logo_uls .apply_button p {
  margin: 0px;
  padding: 12px 20px;
  cursor: pointer;
}
/* hover_p */
.section_1_header .logo_uls .apply_button p:hover {
  color: #717171;
}
/* apply_button_button */
.section_1_header .logo_uls .apply_button button {
  border-radius: 50px;
  border: 1px solid white;
  padding: 12px 20px;
  margin: 0px 8px;
  cursor: pointer;
}
/* hover_button */
.section_1_header .logo_uls .apply_button button:hover {
  background-color: lightgray;
}
/* .main_ul_div */
.section_1_header .logo_uls .main_ul_div {
  padding: 5px 0px;
}
/* header_ul_div */
.section_1_header .logo_uls .main_ul_div .header_ul_div {
  list-style: none;
  display: flex;
}
/* li */
.section_1_header .logo_uls .main_ul_div .header_ul_div li {
  padding: 0px 16px;
  font-size: 18px;
  cursor: pointer;
}
/* hover_li */
.section_1_header .logo_uls .main_ul_div .header_ul_div li:hover {
  color: orangered;
}
/* body_heading_section_1 */
.section_1_header .body_heading_section_1 {
  padding: 48px 20px;
}
.section_1_header .body_heading_section_1 h1 {
  margin: 0px;
}
/* section_2_main_div */
.section_2_main_div {
  padding: 40px;
}
/* section_2_All_text */
.section_2_All_text p {
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.5;
}
.section_2_All_text h1 {
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.8;
}
/* section_3_main_content_div */
.section_3_main_content_div {
  background-color: #fcebe2;
  padding: 48px 0px;
}
/* heading_section_3 */
.section_3_main_content_div .heading_section_3 {
  padding: 0px 24px;
  display: flex;
  justify-content: center;
}
/* h1 */
.section_3_main_content_div .heading_section_3 h1 {
  margin: 0px;
  width: 60%;
  text-align: center;
  opacity: 0.7;
  line-height: 35px;
}
/* All_form_section_3 */
.section_3_main_content_div .All_form_section_3 {
  width: 100%;
  padding: 20px 0px;
}
/* row_1st */
.section_3_main_content_div .All_form_section_3 .row_1st {
  width: 100%;
  padding: 0px 48px;
}
.section_3_main_content_div .All_form_section_3 .row_1st h1 {
  margin: 0px;
  line-height: 30px;
  opacity: 0.9;
}
/* input_div */
.section_3_main_content_div .All_form_section_3 .row_1st .input_div {
  display: flex;
  justify-content: space-between;
}
/* first_name */
.section_3_main_content_div
  .All_form_section_3
  .row_1st
  .input_div
  .first_name {
  width: 50%;
  padding: 8px 0px;
  padding-right: 8px;
}
/* first_last_input */
.section_3_main_content_div
  .All_form_section_3
  .row_1st
  .input_div
  .first_name
  .first_input {
  padding: 16px 20px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
/* .last_name */
.section_3_main_content_div .All_form_section_3 .row_1st .input_div .last_name {
  width: 50%;
  padding: 8px 0px;
  padding-left: 8px;
}
/* class="first_input" */
.section_3_main_content_div
  .All_form_section_3
  .row_1st
  .input_div
  .last_name
  .last_input {
  padding: 16px 20px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 7px;
}
/* horizantal_line */
.section_3_main_content_div .All_form_section_3 .horizantal_line {
  padding: 48px 48px;
  opacity: 0.2;
}
/* row_3rd_select */
.section_3_main_content_div .All_form_section_3 .row_3rd_select {
  width: 100%;
  padding: 0px 48px;
}
/* h1 */
.section_3_main_content_div .All_form_section_3 .row_3rd_select h1 {
  opacity: 0.9;
  margin: 0px;
}
/* select_option_div */
.section_3_main_content_div
  .All_form_section_3
  .row_3rd_select
  .select_option_div {
  width: 100%;
  padding: 12px 0px;
}
/* .select_div */
.section_3_main_content_div
  .All_form_section_3
  .row_3rd_select
  .select_option_div
  .select_div {
  padding: 16px 20px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 7px;
}
/* row_4_label_setting */
.section_3_main_content_div
  .All_form_section_3
  .row_3rd_select
  .select_option_div
  .label_color_padding {
  opacity: 0.4;
}

/* row_5th_heading_radio_buttons_text_area */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area {
  width: 100%;
  padding: 0px 48px;
}
/* heading_section_5 */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .heading_section_5
  h1 {
  margin: 0px;
  opacity: 0.9;
}
/* para_section_5 */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .para_section_5
  p {
  margin: 0px;
  padding: 12px 0px;
  opacity: 0.5;
}
/* radio_buttons_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .radio_buttons_div {
  display: flex;
  flex-direction: column;
  line-height: 25px;
}
/* adjust_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .radio_buttons_div
  .adjust_div {
  margin: 0px;
}
/* span_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .radio_buttons_div
  .span_div {
  opacity: 0.5;
}
/* section_5_text_area_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .section_5_text_area_div {
  width: 100%;
  padding: 20px 0px;
}
/* label_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .section_5_text_area_div
  .label_div {
  opacity: 0.5;
}
/* text_area_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .section_5_text_area_div
  .text_area_div {
  margin: 8px 0px;
  padding: 24px 20px;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
}
/* text_area_div_last */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .section_5_text_area_div
  .text_area_div_last {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 8px 0px;
  padding: 12px 20px;
}
::placeholder {
  opacity: 0.5;
}
/* check_box_div */
.section_3_main_content_div
  .All_form_section_3
  .row_5th_heading_radio_buttons_text_area
  .check_box_div
  span {
  opacity: 0.6;
}
/* button_div */
.section_3_main_content_div .All_form_section_3 .button_div {
  padding: 40px 48px;
}
.section_3_main_content_div .All_form_section_3 .button_div button {
  padding: 12px 16px;
  width: 20%;
  border: 1px solid;
  outline: none;
}
/* last_discription_div */
.section_3_main_content_div .last_discription_div {
  padding: 0px 48px;
}
.section_3_main_content_div .last_discription_div .first_p {
  margin: 0px;
  line-height: 25px;
  opacity: 0.5;
}
/* middle_p */
.section_3_main_content_div .last_discription_div .middle_p {
  padding: 24px 0px;
  margin: 0px;
}
/* last_p */
.section_3_main_content_div .last_discription_div .last_p {
  padding: 12px 0px;
  line-height: 25px;
  opacity: 0.5;
  margin: 0px;
}
/* contact_us_start_here */
/* contact_us_main_div_backgroundimage_logo_heading_uls */
.contact_us_main_div_backgroundimage_logo_heading_uls{
  background-image: url("../images/reviews.png");
  background-size: cover;
  height: 730px;
  background-repeat: no-repeat;
  padding: 20px 8px;
}
/* logo_uls */
.contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls{
  display: flex;
  justify-content: space-between;
}
 /* logo_div img */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls  .logo_div img{
   height: 100px;
 }
 /* apply_button_main */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .apply_button{
  display: flex;
  justify-content: end;
  align-items: center;
 }
 /* hover_button */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .apply_button button:hover {
  background-color: lightgray;
}
 /* apply_button_text */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .apply_button p{
  margin: 0px;
  padding: 12px 20px;
  cursor: pointer;
 }
 /* hover_p */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .apply_button p:hover {
  color: #717171;
}
 /* apply_button_button */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .apply_button button{
  border-radius: 50px;
  border: 1px solid white;
  padding: 12px 20px;
  margin: 0px 8px;
  cursor: pointer;
 }
 /* .main_ul_div */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .main_ul_div{
  padding: 5px 0px;
 }
 /* header_ul_div */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .main_ul_div .header_ul_div{
  list-style: none;
  display: flex;
 }
 /* li */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .main_ul_div .header_ul_div li{
  padding: 0px 16px;
  font-size: 18px;
  cursor: pointer;
 }
 /* hover_li */
 .contact_us_main_div_backgroundimage_logo_heading_uls .logo_uls .main_ul_div .header_ul_div li:hover {
  color: orangered;
}
/* heading_main_div */
.contact_us_main_div_backgroundimage_logo_heading_uls .heading_main_div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  height: 100%;
}
/* just_h1 */
.contact_us_main_div_backgroundimage_logo_heading_uls .heading_main_div h1{
margin: 0px;
padding: 48px 0px;
text-align: center;
}
/* meadia_qureis */
@media (max-width: 1024px) and (min-width: 320px) {
  .background_image_header .logo_text_div .text_div p {
    display: none;
  }
  .background_image_header .logo_text_div .hamburger_for_responsive {
    display: block;
    margin: 0px 0px 50px 150px;
  }
  .background_image_header .logo_text_div .logo_div {
    margin-left: 10px;
  }
  .background_image_header .logo_text_div .logo_div img {
    height: 100px;
  }
  .background_image_header .logo_text_div {
    align-items: center;
  }
  .both_div_main_section_2 {
    flex-direction: column;
    justify-content: center;
  }
  .All_content_heading_p_button {
    padding: 0px 10px;
  }
  .common_width {
    width: 100%;
    font-weight: 100;
  }
  .container {
    max-width: 1200px;
    margin: 0px;
  }
  .chat_bot_main_div {
    margin-top: 0px;
    padding-top: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .All_text_div {
    width: 100%;
  }
  .section_3_main {
    padding: 48px 35px;
  }
  .section_4_main_div .cards_main_div {
    flex-direction: column;
  }
  .section_4_main_div .cards_main_div .card_1_2_3 {
    width: 240px;
  }
  .section_5_main_div .main_content_div .left_right_text_image_div {
    padding: 20px 30px;
    flex-direction: column;
  }

  .section_5_main_div .main_content_div .para_div {
    padding: 20px 5px;
  }
  .section_5_main_div .main_content_div .middle_heading_div .middle_h1 {
    padding: 9px;
  }
  .section_5_main_div
    .main_content_div
    .left_right_text_image_div
    .left_text_image {
    padding: 8px 0px;
  }
  .section_6_main_div .heading_button_div {
    flex-direction: column;
  }
  .section_6_main_div .heading_button_div .heading h1 {
    width: 100%;
  }
  .section_6_main_div .heading_button_div .button_div {
    width: 100%;
    padding: 32px 15px;
  }
  .section_9_main_div .both_flex_div {
    flex-direction: column;
  }
  .section_9_main_div .both_flex_div .logo_div {
    width: 100%;
    margin: 20px 80px;
  }
  .section_9_main_div .both_flex_div .main_ul_div {
    flex-direction: column;
    background-position: center;
    margin-bottom: 20px;
  }
  .section_9_main_div .both_flex_div .main_ul_div .main_ul {
    text-align: center;
  }
  /* funding_page_responsive */
  .section_1_header .right_side_div{
    display: none;
  }
  .section_1_header .logo_uls  .hamburger_for_responsive{
    display: block;
    margin: 0px 0px 50px 150px;
    
  }
  
  .section_1_header .logo_uls .left_side_div .logo_div {
    margin-left: 10px;
  }
  .section_1_header .logo_uls .left_side_div .logo_div img{
    height: 100px; 
  }
  .section_1_header .logo_uls{
    align-items: center;
  }
  .section_1_header .body_heading_section_1 {
    padding: 45px 30px;
}
.section_2_main_div {
  padding: 45px;
  line-height: 25px;
}
.section_3_main_content_div .heading_section_3 {
  padding: 0px 0px;
  width: 99%;
}
.section_3_main_content_div .All_form_section_3 {
  width: 100%;
  padding: 35px 0px;
}
.section_3_main_content_div .All_form_section_3 .row_1st h1 {
  text-align: center;
}
.section_3_main_content_div .All_form_section_3 .row_1st .input_div {
  display: flex;
 flex-direction: column;
 align-items: center;
}
.section_3_main_content_div .All_form_section_3 .row_1st .input_div .last_name {
  width: 70%;
  padding: 8px 0px;
}
.section_3_main_content_div .All_form_section_3 .row_1st .input_div .first_name {
    width: 70%;
    padding: 8px 0px;
 
}
.section_3_main_content_div .All_form_section_3 .row_3rd_select {
  padding: 0px 80px;
  
}
.section_3_main_content_div .All_form_section_3 .row_5th_heading_radio_buttons_text_area {
  padding: 0px 85px;
}
.section_3_main_content_div .All_form_section_3 .button_div {
  padding: 40px 75px;
}
.section_3_main_content_div .All_form_section_3 .button_div button {
  width: 90%;
}
.section_3_main_content_div .last_discription_div {
  padding: 0px 75px;
}
.section_9_main_div .both_flex_div .logo_div {
  width: 80%;
 }
}
